Xft.dpi: 96

# URxvt configuration
URxvt.perl-ext-common:	resize-font
URxvt.font:		xft:Noto Sans Mono:pixelsize=12
URxvt.boldFont:		xft:Noto Sans Mono:pixelsize=12:bold
URxvt.italicFont:	xft:Noto Sans Mono:pixelsize=12:italic
URxvt.boldItalicFont:	xft:Noto Sans Mono:pixelsize=12:bold:italic
URxvt.letterSpace:	-1
URxvt.scrollBar:	false

# This is a temporary fix for the prompt showing up in the middle
URxvt.geometry:         400x400

! special
URxvt.foreground:   #c5c8c6
URxvt.background:   #1d1f21
URxvt.cursorColor:  #c5c8c6

! black
URxvt.color0:       #282a2e
URxvt.color8:       #373b41

! red
URxvt.color1:       #a54242
URxvt.color9:       #cc6666

! green
URxvt.color2:       #8c9440
URxvt.color10:      #b5bd68

! yellow
URxvt.color3:       #de935f
URxvt.color11:      #f0c674

! blue
URxvt.color4:       #5f819d
URxvt.color12:      #81a2be

! magenta
URxvt.color5:       #85678f
URxvt.color13:      #b294bb

! cyan
URxvt.color6:       #5e8d87
URxvt.color14:      #8abeb7

! white
URxvt.color7:       #707880
URxvt.color15:      #c5c8c6
URxvt.keysym.Shift-Control-V:	eval:paste_clipboard
URxvt.keysym.Shift-Control-C:	eval:selection_to_clipboard
URxvt.iso14755:			false
URxvt.iso14755_52:		false
URxvt.keysym.Control-N:		perl:pageup
URxvt.keysym.Control-E:		perl:pagedown
URxvt.keysym.Control-minus:	resize-font:smaller
URxvt.keysym.Control-plus:	resize-font:bigger
URxvt.keysym.Control-equal:	resize-font:reset
URxvt.keysym.Control-question:	resize-font:show
