Xft.dpi: 96

! URxvt configuration
URxvt.perl-ext-common:	resize-font
URxvt.font:		xft:Noto Sans Mono:pixelsize=12
URxvt.boldFont:		xft:Noto Sans Mono:pixelsize=12:bold
URxvt.italicFont:	xft:Noto Sans Mono:pixelsize=12:italic
URxvt.boldItalicFont:	xft:Noto Sans Mono:pixelsize=12:bold:italic
URxvt.letterSpace:	-1
URxvt.scrollBar:	false

! This is a temporary fix for the prompt showing up in the middle
URxvt.geometry:         400x400

! special
URxvt.foreground:   #657b83
URxvt.background:   #fdf6e3
URxvt.cursorColor:  #657b83

! black
URxvt.color0:       #073642
URxvt.color8:       #586e75

! red
URxvt.color1:       #dc322f
URxvt.color9:       #cd4b16

! green
URxvt.color2:       #859900
URxvt.color10:      #586e75

! yellow
URxvt.color3:       #b58900
URxvt.color11:      #657b83

! blue
URxvt.color4:       #268bd2
URxvt.color12:      #839496

! magenta
URxvt.color5:       #d33862
URxvt.color13:      #6c71c4

! cyan
URxvt.color6:       #2aa198
URxvt.color14:      #93a1a1

! white
URxvt.color7:       #eee8d5
URxvt.color15:      #eee8d5
URxvt.keysym.Shift-Control-V:	eval:paste_clipboard
URxvt.keysym.Shift-Control-C:	eval:selection_to_clipboard
URxvt.iso14755:			false
URxvt.iso14755_52:		false
URxvt.keysym.Control-N:		perl:pageup
URxvt.keysym.Control-E:		perl:pagedown
URxvt.keysym.Control-minus:	resize-font:smaller
URxvt.keysym.Control-plus:	resize-font:bigger
URxvt.keysym.Control-equal:	resize-font:reset
URxvt.keysym.Control-question:	resize-font:show
